@import "../../../fonts.css";

.bodyApp {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
}

.bodyContainer {
  height: 743px;
}

.bodyTitle {
  margin-left: 20px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: rgba(254, 249, 243, 1);
}

.gridBodyContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.gridBodyContainerTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media screen and (min-width: 389px) and (max-width: 500px) {
  .bodyContainer {
    height: 100%;
  }
  .bodyTitle {
    display: flex;
    justify-content: center;
  }
  .gridBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gridBodyContainerTwo {
    display: flex;
    flex-direction: column;
  }
}
