.headerApp {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 350px) and (max-width: 390px) {

  .headerApp{
    
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
  .headerApp{
    
  } 
}

