.footerContainer {
  background-color: #0e101c;
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

.footerMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.img_footer{
  padding: 5px;
  background: #ffffff;
}
.img_footer img{
  width: 140px;
}

.footerLeft {
  flex: 1;
  min-width: 150px;
  display: flex;
  margin: 5px;
  
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.footerRight {
  flex: 1;
  min-width: 200px;
  text-align: center;
  line-height: 0.5; /* компактнее */
  font-size: 14px;
}

.footerTitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #ffffff;
}

.footerRight a {
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.footerRight a:hover {
  color: #87cefa;
}

.footerBottom {
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #444;
  padding-top: 12px;
  margin-top: 20px;
  text-align: center;
}

/* Адаптивность */
@media screen and (max-width: 768px) {
  .footerMain {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerLeft,
  .footerRight {
    text-align: center;
    justify-content: center;
  }

  .footerRight {
    margin-top: 10px;
  }
}
