.footerApp {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.footerContainer {
  width: 1440px;
  height: 100%;
  background-image: url("../../../img/bacgroundFooter.png");
}

.gridFooterInfo {
  width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

/* leftColumn */
.leftInfoFooter {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.logoContainerFooter {
  width: 252px;
  height: 69px;
  background-color: rgba(254, 249, 243, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.adress,
.phone {
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(14, 16, 28, 1);
}
.phoneContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* CenterColumn && rightStyleColumn*/
.footerTitleInfoCenter {
  font-family: ABeeZee, sans-serif;
  font-weight: 600;
  color: #0b86d3;
  font-size: 18px;
  cursor: pointer;
}
.centerFooterTxt {
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: #3b3c3d;
  font-size: 16px;
  cursor: pointer;
  transform: translateX(0%);
  &:hover {
    transition: transform 0.6s ease;
    transform: translateX(10%);
  }
}
.lineFooterCenter {
  border: 1px solid rgba(14, 16, 28, 1);
}

/* downLine & info */

.containerAllLineFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allLineFooter {
  width: 90%;
  border: 1px solid rgba(14, 16, 28, 1);
}
.downLineFooter {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.downLineTxt {
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  
  color: rgba(14, 16, 28, 1);
}

@media screen and (min-width: 389px) and (max-width: 500px) {
  
  .footerContainer {
    width: 100%;
  }
  .gridFooterInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    
  }
  .leftInfoFooter {
    padding: 1.2rem
 
  }
  .allLineFooter {
    width: 100%;
    margin-top: 20px;
    
  }
  .centerFooterInfo{
    padding-left: 1.2rem;
  }
  .rightFooterTxt{
    padding-left: 1.2rem;
  }
}
