.historyApp {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.historyContainer{
  width: 90%;
}
.textAreaHistory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-textArea{
  width: 90%;
}
.pStyleHistory {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: rgba(254, 249, 243, 1);
}

.historyimg {
  width: 100%;
}
.containerImage{
 width: 50%;
 margin: 0 auto;
}

.sliderImg {
  width: 100%;
  margin-top: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 373px) and (max-width: 600px) {
  .historyimg {
    width: 100%;
  }
  .sliderImg {
    width: 100%;
    margin-top: 100px;
  }
  .pStyleHistory{
    font-size: 0.9rem;
    padding: 15px;
  }
  .textAreaHistory{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}