.slider-container {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.slide-image {
  display: block;
    margin: 0 auto; /* Центрирует изображение по горизонтали */
    width: 70%; /* Подстраивается под размер контейнера */
    max-width: 100%; /* Не выходит за границы контейнера */

    object-fit: contain; /* Сохраняет пропорции и центрирует */
}
.slider_container {
  width: 100%;
  margin: 0 auto;
}


@media screen and (min-width: 374px) and (max-width: 500px){
  .slider-container {
    width: 350px;
    margin: 0 auto;
  }
  .swiper-slide{
    height: 350px;
  } 
  .slide-image {
    display: block;
    margin: 0 auto; /* Центрирует изображение по горизонтали */
    width: 100%; /* Подстраивается под размер контейнера */
    max-width: 100%; /* Не выходит за границы контейнера */
    height: 100%; /* Занимает всю высоту контейнера */
    object-fit: contain; /* Сохраняет пропорции и центрирует */
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    color: #FFFFFF;
  }

  .swiper-button-prev{
    left: -10px;
  }
  .swiper-button-next{
    right: -10px;
  }
  .swiper-pagination-bullet-active{
    background: #FFFFFF;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 20px;

  }
  .swiper-wrapper{
    display: flex;
    align-items: center;
  }
}
